In [1]:
import pandas as pd
import csv
import json
import re

refperiod = "23q3"

# Extract the year and quarter using regular expressions
match = re.match(r'(\d{2})q(\d)', refperiod)

if match:
    year = match.group(1)
    quarter = int(match.group(2))
    
    # Calculate the start month
    start_month = str((quarter - 1) * 3 + 1).zfill(2)
    
    # Calculate the end month
    end_month = str(quarter * 3).zfill(2)
    
    # Combine the year and month to get the desired format
    startMonthID = start_month + year
    endMonthID = end_month + year
    
    print("Start Month:", startMonthID)
    print("End Month:", endMonthID)
else:
    print("Invalid refperiod format.")

Start Month: 0723
End Month: 0923

In [2]:
df = pd.read_csv(f'transaction_resi_converted_raw_csv_{refperiod}.csv', converters = {'leaseDate': str, 'noOfBedRoom': str})
df

,areaSqm,leaseDate,propertyType,district,areaSqft,noOfBedRoom,rent,project,street,y,x
0,180-190,0823,Non-landed Properties,23,2000-2100,4,4500,MERAWOODS,HILLVIEW AVENUE,37591.36252,19806.57039
1,180-190,0823,Non-landed Properties,23,2000-2100,4,7000,MERAWOODS,HILLVIEW AVENUE,37591.36252,19806.57039
2,130-140,0823,Non-landed Properties,23,1500-1600,2,3730,MERAWOODS,HILLVIEW AVENUE,37591.36252,19806.57039
3,120-130,0723,Non-landed Properties,23,1300-1400,3,5050,MERAWOODS,HILLVIEW AVENUE,37591.36252,19806.57039
4,120-130,0723,Non-landed Properties,23,1300-1400,3,4300,MERAWOODS,HILLVIEW AVENUE,37591.36252,19806.57039
...,...,...,...,...,...,...,...,...,...,...,...
16947,40-50,0823,Non-landed Properties,8,500-600,2,4000,UPTOWN @ FARRER,PERUMAL ROAD,32796.58779,30477.87296
16948,60-70,0823,Non-landed Properties,8,600-700,3,5600,UPTOWN @ FARRER,PERUMAL ROAD,32796.58779,30477.87296
16949,40-50,0723,Non-landed Properties,8,500-600,2,4000,UPTOWN @ FARRER,PERUMAL ROAD,32796.58779,30477.87296
16950,40-50,0723,Non-landed Properties,8,500-600,2,3800,UPTOWN @ FARRER,PERUMAL ROAD,32796.58779,30477.87296
16951,40-50,0723,Non-landed Properties,8,500-600,2,4100,UPTOWN @ FARRER,PERUMAL ROAD,32796.58779,30477.87296

In [3]:
df = df[df.propertyType.isin(["Non-landed Properties", "Executive Condominium"])]
df = df[df.noOfBedRoom.isin(["1","2","3","4","5"])]
df

,areaSqm,leaseDate,propertyType,district,areaSqft,noOfBedRoom,rent,project,street,y,x
0,180-190,0823,Non-landed Properties,23,2000-2100,4,4500,MERAWOODS,HILLVIEW AVENUE,37591.36252,19806.57039
1,180-190,0823,Non-landed Properties,23,2000-2100,4,7000,MERAWOODS,HILLVIEW AVENUE,37591.36252,19806.57039
2,130-140,0823,Non-landed Properties,23,1500-1600,2,3730,MERAWOODS,HILLVIEW AVENUE,37591.36252,19806.57039
3,120-130,0723,Non-landed Properties,23,1300-1400,3,5050,MERAWOODS,HILLVIEW AVENUE,37591.36252,19806.57039
4,120-130,0723,Non-landed Properties,23,1300-1400,3,4300,MERAWOODS,HILLVIEW AVENUE,37591.36252,19806.57039
...,...,...,...,...,...,...,...,...,...,...,...
16947,40-50,0823,Non-landed Properties,8,500-600,2,4000,UPTOWN @ FARRER,PERUMAL ROAD,32796.58779,30477.87296
16948,60-70,0823,Non-landed Properties,8,600-700,3,5600,UPTOWN @ FARRER,PERUMAL ROAD,32796.58779,30477.87296
16949,40-50,0723,Non-landed Properties,8,500-600,2,4000,UPTOWN @ FARRER,PERUMAL ROAD,32796.58779,30477.87296
16950,40-50,0723,Non-landed Properties,8,500-600,2,3800,UPTOWN @ FARRER,PERUMAL ROAD,32796.58779,30477.87296
16951,40-50,0723,Non-landed Properties,8,500-600,2,4100,UPTOWN @ FARRER,PERUMAL ROAD,32796.58779,30477.87296

In [4]:
#df_50th = df.groupby(['rental_district']).mean()
df_25th = df.groupby(['district', 'noOfBedRoom']).quantile(.25).rename(columns={"rent": "25th_rental"})
df_50th = df.groupby(['district', 'noOfBedRoom']).quantile(.50).rename(columns={"rent": "50th_rental"})
df_75th = df.groupby(['district', 'noOfBedRoom']).quantile(.75).rename(columns={"rent": "75th_rental"})

/var/folders/n5/1wkddp5s2nl935zfz5y7tg480000gn/T/ipykernel_65506/3295802453.py:2: FutureWarning: Dropping invalid columns in DataFrameGroupBy.quantile is deprecated. In a future version, a TypeError will be raised. Before calling .quantile, select only columns which should be valid for the function.
  df_25th = df.groupby(['district', 'noOfBedRoom']).quantile(.25).rename(columns={"rent": "25th_rental"})
/var/folders/n5/1wkddp5s2nl935zfz5y7tg480000gn/T/ipykernel_65506/3295802453.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.quantile is deprecated. In a future version, a TypeError will be raised. Before calling .quantile, select only columns which should be valid for the function.
  df_50th = df.groupby(['district', 'noOfBedRoom']).quantile(.50).rename(columns={"rent": "50th_rental"})
/var/folders/n5/1wkddp5s2nl935zfz5y7tg480000gn/T/ipykernel_65506/3295802453.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.quantile is deprecated. In a future version, a TypeError will be raised. Before calling .quantile, select only columns which should be valid for the function.
  df_75th = df.groupby(['district', 'noOfBedRoom']).quantile(.75).rename(columns={"rent": "75th_rental"})

In [5]:
df = pd.concat([df_25th] + [df_50th] + [df_75th], axis=1)
df

                      25th_rental             y             x  50th_rental  \
district noOfBedRoom
1        1                 4300.0  28860.642930  29565.491150       4800.0
         2                 5600.0  28860.642930  29770.541660       6500.0
         3                 8150.0  29023.400685  29770.541660       9500.0
         4                13500.0  29129.943300  30086.502680      16500.0
         5                42000.0  29129.943300  30404.372770      42000.0
...                           ...           ...           ...          ...
27       4                 4750.0  44289.757415  27769.403415       5200.0
28       1                 2800.0  41538.795570  32046.003680       3000.0
         2                 3300.0  41610.681820  32589.946520       3500.0
         3                 3800.0  41156.033220  31267.616752       4000.0
         4                 4175.0  41152.563035  31353.112220       4600.0

                                 y             x  75th_rental             y  \
district noOfBedRoom
1        1            29089.900100  30161.774710       5300.0  29255.907680
         2            29129.943300  30161.774710       7437.5  29255.907680
         3            29208.569540  30124.138695      11000.0  29255.907680
         4            29208.569540  30161.774710      18500.0  29208.569540
         5            29129.943300  30404.372770      42000.0  29129.943300
...                            ...           ...          ...           ...
27       4            45847.360195  28287.228915       5600.0  46401.572080
28       1            42096.319570  32589.946520       3100.0  42215.380180
         2            42096.319570  32660.193640       3700.0  42096.319570
         3            41472.348710  32434.468490       4325.0  42096.319570
         4            41472.348710  32434.468490       4825.0  41910.052885

                                 x
district noOfBedRoom
1        1            30274.874880
         2            30246.599837
         3            30274.874880
         4            30274.874880
         5            30404.372770
...                            ...
27       4            29233.916730
28       1            32660.193640
         2            33266.441500
         3            32607.508300
         4            32730.330650

[120 rows x 9 columns]

In [6]:
df = pd.pivot_table(df, values = ['25th_rental','50th_rental','75th_rental'], index=['district'], columns = 'noOfBedRoom').reset_index()
df

            district 25th_rental                                     \
noOfBedRoom                    1        2       3        4        5
0                  1      4300.0  5600.00  8150.0  13500.0  42000.0
1                  2      3700.0  4800.00  5266.0      NaN      NaN
2                  3      3650.0  4600.00  6000.0   7500.0   9000.0
3                  4      3650.0  5000.00  7500.0  12000.0  13125.0
4                  5      3350.0  4100.00  5200.0   6100.0   8217.5
5                  6      4800.0  5487.75     NaN      NaN      NaN
6                  7      4200.0  4450.00  5700.0  10500.0      NaN
7                  8      2962.5  3925.00  5000.0   6175.0      NaN
8                  9      3500.0  4800.00  6300.0   8000.0  10175.0
9                 10      3500.0  4600.00  6500.0  10000.0  14375.0
10                11      3250.0  4300.00  5500.0   9000.0  10500.0
11                12      3000.0  3600.00  4025.0   5700.0   6800.0
12                13      3100.0  3900.00  5100.0   7225.0  12600.0
13                14      2700.0  3400.00  4200.0   5862.5   7000.0
14                15      2950.0  3800.00  4800.0   7500.0  10575.0
15                16      2900.0  3500.00  4300.0   5800.0   8950.0
16                17      2762.5  3325.00  3800.0   4900.0      NaN
17                18      2800.0  3500.00  4000.0   4800.0   6005.0
18                19      2800.0  3500.00  4100.0   4962.5      NaN
19                20      3000.0  4000.00  4775.0   5950.0      NaN
20                21      2900.0  3800.00  4500.0   5900.0      NaN
21                22      3300.0  4025.00  4800.0   5825.0   7650.0
22                23      2987.5  3500.00  4087.5   5200.0      NaN
23                25      2600.0  3200.00  4000.0   5400.0      NaN
24                26      2900.0  3200.00  3875.0   6300.0   7300.0
25                27      2791.0  3350.00  3900.0   4750.0      NaN
26                28      2800.0  3300.00  3800.0   4175.0      NaN

            50th_rental                                   75th_rental  \
noOfBedRoom           1       2       3        4        5           1
0                4800.0  6500.0  9500.0  16500.0  42000.0      5300.0
1                4100.0  5700.0  7738.0      NaN      NaN      4600.0
2                3900.0  5000.0  6700.0   9250.0   9000.0      4100.0
3                3800.0  5500.0  8800.0  14000.0  22000.0      4000.0
4                3500.0  4400.0  5800.0   6800.0   9250.0      3800.0
5                5000.0  5758.5     NaN      NaN      NaN      5200.0
6                5000.0  5000.0  6200.0  21500.0      NaN      5375.0
7                3150.0  4300.0  5700.0   7250.0      NaN      3775.0
8                4100.0  5671.0  7900.0  10500.0  14500.0      4800.0
9                3750.0  5200.0  7600.0  13700.0  21000.0      4000.0
10               3500.0  5050.0  6850.0  10500.0  10500.0      3800.0
11               3100.0  3900.0  4700.0   5950.0   6800.0      3300.0
12               3400.0  4200.0  5500.0   7800.0  12600.0      3500.0
13               3000.0  4000.0  4650.0   7700.0   7500.0      3300.0
14               3300.0  4500.0  6000.0   8500.0  13150.0      3700.0
15               3200.0  3900.0  4825.0   6700.0   9500.0      3500.0
16               2875.0  3600.0  4100.0   5050.0      NaN      3000.0
17               3000.0  3700.0  4500.0   5300.0   6600.0      3100.0
18               3000.0  3800.0  4500.0   5575.0      NaN      3200.0
19               3400.0  4200.0  5200.0   6700.0      NaN      3800.0
20               3200.0  4000.0  5000.0   7000.0      NaN      3500.0
21               3500.0  4400.0  5100.0   6500.0   7800.0      3787.5
22               3100.0  3800.0  4500.0   5900.0      NaN      3400.0
23               2700.0  3500.0  4300.0   5800.0      NaN      2800.0
24               2900.0  3400.0  4225.0   6500.0   7300.0      3000.0
25               3000.0  3600.0  4200.0   5200.0      NaN      3037.5
26               3000.0  3500.0  4000.0   4600.0      NaN      3100.0


noOfBedRoom        2        3        4        5
0            7437.50  11000.0  18500.0  42000.0
1            6050.00   9675.0      NaN      NaN
2            5650.00   7800.0  11500.0   9000.0
3            6200.00  10000.0  17000.0  24750.0
4            4700.00   6300.0   7661.0   9650.0
5            6029.25      NaN      NaN      NaN
6            6800.00  10000.0  32500.0      NaN
7            4600.00   6000.0   7800.0      NaN
8            6800.75   9900.0  13500.0  16100.0
9            6000.00   9575.0  19987.5  29875.0
10           6100.00   8025.0  13000.0  10500.0
11           4200.00   5400.0   7125.0   6800.0
12           4500.00   6300.0   8250.0  12600.0
13           4500.00   5262.5   8500.0   8000.0
14           5100.00   7000.0  10000.0  17850.0
15           4200.00   5575.0   7300.0  10250.0
16           3800.00   4450.0   5100.0      NaN
17           4000.00   4775.0   6000.0   7500.0
18           4000.00   5150.0   6300.0      NaN
19           4600.00   5800.0   7600.0      NaN
20           4500.00   5825.0   7800.0      NaN
21           4637.50   5700.0   7150.0   8400.0
22           4000.00   5000.0   6500.0      NaN
23           3800.00   4800.0   7050.0      NaN
24           3650.00   4725.0   6500.0   7300.0
25           3875.00   4500.0   5600.0      NaN
26           3700.00   4325.0   4825.0      NaN

In [7]:
df.columns = df.columns.swaplevel(0, 1)
df.sort_index(axis=1, level=0, inplace=True)
df

noOfBedRoom                    1                                   2  \
            district 25th_rental 50th_rental 75th_rental 25th_rental
0                  1      4300.0      4800.0      5300.0     5600.00
1                  2      3700.0      4100.0      4600.0     4800.00
2                  3      3650.0      3900.0      4100.0     4600.00
3                  4      3650.0      3800.0      4000.0     5000.00
4                  5      3350.0      3500.0      3800.0     4100.00
5                  6      4800.0      5000.0      5200.0     5487.75
6                  7      4200.0      5000.0      5375.0     4450.00
7                  8      2962.5      3150.0      3775.0     3925.00
8                  9      3500.0      4100.0      4800.0     4800.00
9                 10      3500.0      3750.0      4000.0     4600.00
10                11      3250.0      3500.0      3800.0     4300.00
11                12      3000.0      3100.0      3300.0     3600.00
12                13      3100.0      3400.0      3500.0     3900.00
13                14      2700.0      3000.0      3300.0     3400.00
14                15      2950.0      3300.0      3700.0     3800.00
15                16      2900.0      3200.0      3500.0     3500.00
16                17      2762.5      2875.0      3000.0     3325.00
17                18      2800.0      3000.0      3100.0     3500.00
18                19      2800.0      3000.0      3200.0     3500.00
19                20      3000.0      3400.0      3800.0     4000.00
20                21      2900.0      3200.0      3500.0     3800.00
21                22      3300.0      3500.0      3787.5     4025.00
22                23      2987.5      3100.0      3400.0     3500.00
23                25      2600.0      2700.0      2800.0     3200.00
24                26      2900.0      2900.0      3000.0     3200.00
25                27      2791.0      3000.0      3037.5     3350.00
26                28      2800.0      3000.0      3100.0     3300.00

noOfBedRoom                                   3                          \
            50th_rental 75th_rental 25th_rental 50th_rental 75th_rental
0                6500.0     7437.50      8150.0      9500.0     11000.0
1                5700.0     6050.00      5266.0      7738.0      9675.0
2                5000.0     5650.00      6000.0      6700.0      7800.0
3                5500.0     6200.00      7500.0      8800.0     10000.0
4                4400.0     4700.00      5200.0      5800.0      6300.0
5                5758.5     6029.25         NaN         NaN         NaN
6                5000.0     6800.00      5700.0      6200.0     10000.0
7                4300.0     4600.00      5000.0      5700.0      6000.0
8                5671.0     6800.75      6300.0      7900.0      9900.0
9                5200.0     6000.00      6500.0      7600.0      9575.0
10               5050.0     6100.00      5500.0      6850.0      8025.0
11               3900.0     4200.00      4025.0      4700.0      5400.0
12               4200.0     4500.00      5100.0      5500.0      6300.0
13               4000.0     4500.00      4200.0      4650.0      5262.5
14               4500.0     5100.00      4800.0      6000.0      7000.0
15               3900.0     4200.00      4300.0      4825.0      5575.0
16               3600.0     3800.00      3800.0      4100.0      4450.0
17               3700.0     4000.00      4000.0      4500.0      4775.0
18               3800.0     4000.00      4100.0      4500.0      5150.0
19               4200.0     4600.00      4775.0      5200.0      5800.0
20               4000.0     4500.00      4500.0      5000.0      5825.0
21               4400.0     4637.50      4800.0      5100.0      5700.0
22               3800.0     4000.00      4087.5      4500.0      5000.0
23               3500.0     3800.00      4000.0      4300.0      4800.0
24               3400.0     3650.00      3875.0      4225.0      4725.0
25               3600.0     3875.00      3900.0      4200.0      4500.0
26               3500.0     3700.00      3800.0      4000.0      4325.0

noOfBedRoom           4                                   5              \
            25th_rental 50th_rental 75th_rental 25th_rental 50th_rental
0               13500.0     16500.0     18500.0     42000.0     42000.0
1                   NaN         NaN         NaN         NaN         NaN
2                7500.0      9250.0     11500.0      9000.0      9000.0
3               12000.0     14000.0     17000.0     13125.0     22000.0
4                6100.0      6800.0      7661.0      8217.5      9250.0
5                   NaN         NaN         NaN         NaN         NaN
6               10500.0     21500.0     32500.0         NaN         NaN
7                6175.0      7250.0      7800.0         NaN         NaN
8                8000.0     10500.0     13500.0     10175.0     14500.0
9               10000.0     13700.0     19987.5     14375.0     21000.0
10               9000.0     10500.0     13000.0     10500.0     10500.0
11               5700.0      5950.0      7125.0      6800.0      6800.0
12               7225.0      7800.0      8250.0     12600.0     12600.0
13               5862.5      7700.0      8500.0      7000.0      7500.0
14               7500.0      8500.0     10000.0     10575.0     13150.0
15               5800.0      6700.0      7300.0      8950.0      9500.0
16               4900.0      5050.0      5100.0         NaN         NaN
17               4800.0      5300.0      6000.0      6005.0      6600.0
18               4962.5      5575.0      6300.0         NaN         NaN
19               5950.0      6700.0      7600.0         NaN         NaN
20               5900.0      7000.0      7800.0         NaN         NaN
21               5825.0      6500.0      7150.0      7650.0      7800.0
22               5200.0      5900.0      6500.0         NaN         NaN
23               5400.0      5800.0      7050.0         NaN         NaN
24               6300.0      6500.0      6500.0      7300.0      7300.0
25               4750.0      5200.0      5600.0         NaN         NaN
26               4175.0      4600.0      4825.0         NaN         NaN

noOfBedRoom
            75th_rental
0               42000.0
1                   NaN
2                9000.0
3               24750.0
4                9650.0
5                   NaN
6                   NaN
7                   NaN
8               16100.0
9               29875.0
10              10500.0
11               6800.0
12              12600.0
13               8000.0
14              17850.0
15              10250.0
16                  NaN
17               7500.0
18                  NaN
19                  NaN
20                  NaN
21               8400.0
22                  NaN
23                  NaN
24               7300.0
25                  NaN
26                  NaN

In [8]:
df.to_csv(f'transactions_resi_price_index_{refperiod}.csv', na_rep='N/A', quoting=csv.QUOTE_NONE, index=False)